body {
	background-color: #292727;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
}

html, body {
	width: 100%;
	height: 100%;
}

.title {
	color: #f2f2f2;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 0;
	margin: 0;
	margin-bottom: 20px;
}

.round {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: orange;
	font-size: 38px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hidden-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.reveal-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #121111;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	/* display: absolute; */
}

.reveal-btn h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 50px;
	margin-top: 0;
	color: white;
}

.reveal-btn button {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #292727;
	margin: 0;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: orange;
	border: none;
}

.reveal-btn button:hover {
	opacity: calc(80%);
}

.rock button, .paper button, .scissors button {
	background: none;
	border-style: none;
	font-size: 100px;
	transition: transform .1s; /* Animation */
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.btn {
	display: flex;
	justify-content: space-around;
	gap: 80px;
	width: 400px;
	margin-bottom: 40px;
}

.rock h3, .paper h3, .scissors h3 {
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 25px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.message {
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 22px;
	text-align: center;
	margin: 0;
	padding: 6px 8px;
	border-radius: 4px;
}

.score-panel {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background-color: #292727;
	padding: 16px;
	max-width: 500px;
	height: 200px;
	border: 3px rgba(255, 255, 255, 0.844) solid;
	border-radius: 8px;
	margin-bottom: 40px;
}

.score-title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #292727;
	background-color: orange;
	text-align: center;
	font-size: 35px;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	width: 100px;
	height: 33px;
}

.choices-result {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 90px; */
	padding: 4px 30px;
	margin: 0;
}

.user h3, .computer h3 {
	font-size: 60px;
	padding: 0;
	margin: 0;
	height: 62px;
}

.round-result h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
	font-size: 35px;
	padding: 0;
	margin: 0;
}

.track-score {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0px 20px;
}

.user-score, .computer-score {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;
	line-height: 50px;
	color: white;
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

.user-score {
	margin-right: 30px;
	padding-left: 20px;
}

.five {
	color: white;
}

.round-result {
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	left: 0;
}

.footer p {
	color: white;
	font-family: sans-serif;
	background-color: #121111;
	padding: 16px;
	margin: 0;
}

.github {
	text-decoration: none;
	color: white;
	font-weight: 600;
}
